/* CSS for the Gallery Page */
#academic,
#field_trip,
#events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  margin: 10px;
  overflow: hidden;
  /* Hide overflow for scaling effect */
  transition: transform 0.2s;
  /* Add a transition for smooth scaling */
  max-width: calc(33.33% - 20px); /* Distribute into 3 columns with spacing */
}

.flex-item img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.2s;
  padding: 5px;
  /* Add a transition for smooth scaling */
}

/* Add a scaling effect on hover */
.flex-item:hover {
  transform: scale(1.1);
  /* Scale the image to 110% on hover */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    /* Stack images vertically */
  }

  .flex-item {
    flex: 1;
    margin: 10px auto;
    /* Center images vertically */
    max-width: 100%; /* Take full width on mobile */
  }
}
